body {
    padding-top: 70px;
    padding-bottom: 30px;
}

textarea {
    width: 100%;
}

.comments {
    margin: 30px auto;
}

.comment {
    margin: 30px auto;
}

.row button img {
    height: 20px;
}

.upload-photo .glyphicon { color: white;
    display: block;
    font-size: 2em;
    height: 320px;
    line-height: 320px;
    border: 3px solid #90acc7;
    background: #6a8db3;
    text-align: center;
    cursor: pointer;
}
