body {
    background: #fff;
    padding-bottom: 30px;
}

body .navbar {
    border-radius: 0;
}

textarea {
    width: 100%;
}

h2 {
    color: #33312c;
    font-family: Copse, sans-serif;
}

.btn-primary {
    background: #039be5 !important;
    border: none !important;
}

#nav.navbar {
    font-family: 'Copse', sans-serif;
    background: #6a8492;
    background: #354257;
    border-width: 0 0 1px 0;
    margin-bottom: 10px;
}

#nav.navbar-inverse {
    border-color: #ccc;
}

#nav.navbar-inverse button {
    border-color: rgba(0,0,0,.2);
    color: white;
}

.bg-user-0 {
    background-color: #f2385a !important;
}
span.user-0 {
    color: #f2385a;
}
.bd-user-0 {
    border-color: #f2385a;
}

.bg-user-1 {
    background-color: #32b5de !important;
}
span.user-1 {
    color: #32b5de;
}
.bd-user-1 {
    border-color: #32b5de;
}

.bg-user-2 {
    background-color: #f5a503 !important;
}
span.user-2 {
    color: #f5a503;
}
.bd-user-2 {
    border-color: #f5a503;
}

.bg-user-3 {
    background-color: #78db1d !important;
}
span.user-3 {
    color: #78db1d;
}
.bd-user-3 {
    border-color: #78db1d;
}

#nav.navbar-inverse .navbar-toggle {
    padding: 6px 12px !important;
}

#tl-footer .navbar-nav>li>a,
#nav .navbar-brand,
#nav .navbar-nav>li>a {
    color: #efefef;
    text-shadow: 0 -1px 0 rgba(0,0,0,.7);
}

#nav .navbar-right {
    float: right;
    margin-right: 15px;
}

.navbar-brand {
    font-weight: bold !important;
    color: white !important;
}

.nav .user-circ {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 8px;
}

#nav .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: rgba(255,255,255,.1);
    border-top: 1px solid #101010;
    box-sizing: content-box;
}

#main-timeline h1 {
    color: #333;
}
h4.title {
    color: #33312c;
}

.form-signin h1,
h4.title,
#tl-footer .nav,
#main-timeline h1 {
    font-family: Copse, sans-serif;
}

.form-signin h1,
#main-timeline h1 {
    text-shadow: 0 1px 2px rgba(0,0,0,.3);
}

h4.title {
    text-align: center;
    margin: 15px auto;
}

#main-timeline .grandpa-main {
    border-radius: 50%;
    margin: auto;
    width: 180px;
    display: block;
    border: 1px solid #d4d4d4;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    background: white;
    padding: 10px;
    box-sizing: content-box;
}

.comments {
    margin: 30px auto;
}

.comment {
    margin: 10px auto;
}

.row button img {
    height: 20px;
}

.main-photo.img-container {
    display: block;
    border: 1px solid rgba(0,0,0,.25);
    border-radius: 5px;
}

#photo-form .upload-photo {
    height: 320px;
    border: 1px solid rgba(0,0,0,.2);
    background: rgba(0,0,0,.5);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

#photo-form .upload-photo .glyphicon {
    display: block;
    height: 320px;
    line-height: 320px;
    color: white;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
}

#create .instructions {
    margin-top: 15px;
}

#create #send {
    margin-top: 15px;
}

#request textarea {
    height: 20em;
}

#request .main-story {
    margin: 1em 0 2em;
    padding: 1em;
    background: white;
    border: 1px solid #eee;
    border-radius: 3px;
}

#request .grandpa-sm {
    border-radius: 50%;
    height: 30px;
}

#memory {
    margin-top: 15px;
}
#memory .prompt {
    margin: 15px auto;
}

#memory .buttons .btn {
    border: none;
    border-radius: 4px;
    margin: 10px auto 15px;
}
#memory .buttons #video {
    background: #f44336;
}
#memory .buttons #text {
    background: #e0e0e0;
    margin-left: 15px;
}

#memory .response {
    margin-bottom: 2em;
}

#request h5,
#create h5,
#memory h5 {
    font-family: Copse, sans-serif;
    font-size: 16px;
    margin-top: 35px;
}

#create input[name=title] {
    font-family: Copse, sans-serif;
    color: #33312c;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    padding: 10px 0 15px;
    text-align: center;
    border: none;
    height: 50px;
}

video {
    width: 100%;
}

.glass {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .75);
}
.glass .glyphicon {
    color: white;
    font-size: 2em;
    top: 50%;
    left: 50%;
    position: absolute;
}

.glyphicon-refresh-animate {
    -animation: spin 2s infinite linear;
    -ms-animation: spin 2s infinite linear;
    -webkit-animation: spinw 2s infinite linear;
    -moz-animation: spinm 2s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}
