<nav id="nav" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="bg-user-<?=$user_id?> navbar-btn btn navbar-toggle collapsed navbar-right" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <?= $user_name ?>
      </button>
      <a class="navbar-brand" href="timeline.php?<?=$get?>">Moments</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <? for ($i = 0; $i < count($family_json['members']); ++$i) { ?>
        <li><a href="#"><span class="user-circ bg-user-<?=$i?>"></span> <?=$family_json['members'][$i]?></a></li>
        <? } ?>
        <li class="divider"></li>
        <li><a href="index.php">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
